<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
  <meta content="yes" name="X-UA-Compatible">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <title>jsbundler</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
<div class="container">
  <h1><a class="logo" href="/">jsbundler</a></h1>
</div>
