<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
  <meta content="yes" name="X-UA-Compatible">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <title>jsbundler</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
<div class="container">
  <h1><a class="logo" href="/">jsbundler</a></h1>
  <div class="hero">
    <p>Bundle npm packages and use them in the browser!</p>
    <form name="bundle_npm_package" action="/package" method="post">
      <input id="bundle_npm_package_input" name="bundle_npm_package_input" type="text" placeholder="package name"> <input id="bundle_npm_package_submit" type="submit">
    </form>
  </div>
</div>
