* {
  box-sizing: border-box;
}

body {
  font-family: "Consolas", "Lucida Console", "Menlo", "Luxi Mono", monospace;
}

.row {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 620px;
}

a, a:visited {
  color: #685BBF;
}

a:hover {
  color: #5654a8;
}

.logo {
  display: block;
  margin: 0 auto;
  background: url('/public/images/logo.jpg') center no-repeat;
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  text-indent: -999999em;
}

.hero {
  padding: 30px;
  font-size: 110%;
  text-align: center;
}

.plans {
  border: 1px solid #DBD8EA;
  background: rgba(202, 194, 254, 0.31);
  font-size: 80%;
  padding: 10px;
}

.footer-links {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 20px 0;
  padding: 0;
}

.footer-links_item {
  display: inline-block;
  list-style-type: none;
}

.footer-links_item a {
  display: inline-block;
  padding-right: 5px;
}

.error {
  color: #a94442;
  margin: 20px auto;
  text-align: center;
}

.codepen {
  margin: 20px 0;
}

code, .script {
  border: 1px solid #DBD8EA;
  background: rgba(202, 194, 254, 0.31);
  padding: 3px;
}

.script {
  overflow: scroll;
}

.footer {
  margin-top: 40px;
  text-align: center;
}