<% include layouts/head.html %>
<div class="container">
  <div class="examples">
    <h3>Exaples:</h3>
    <ul>
      <li><a href="/package/react">/package/react</a></li>
      <li><a href="/package/react-dom">/package/react-dom</a></li>
      <li><a href="/package/jquery">/package/jquery</a></li>
      <li><a href="/package/backbone">/package/backbone</a></li>
      <li><a href="/package/underscore">/package/underscore</a></li>
    </ul>
  </div>
  <div class="codepen">
    <iframe width="49%" height="200" scrolling="no" src="http://codepen.io/rtorr/embed/dYLaXj" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
    <iframe width="49%" height="200" scrolling="no" src="http://codepen.io/rtorr/embed/RWOvRE" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  </div>
  <div class="plans">
    <h3>Future plans:</h3>
    <ul>
      <li>Input npm package name, get back package instead of manually putting it in the url</li>
      <li>Show previous built versions</li>
    </ul>
  </div>
</div>
<% include layouts/tail.html %>